# Godot 4+ specific ignores
.godot/
/android/

assets/screenshots/Downloads/



*.translation

# Export builds

ItichIO/
ItichIO.zip         
ItichIO-Copy.zip
ItichIO.rar
ItichIO/


# Wavedash
*.wasm
*.pck

# Downloaded installers (never again)
assets/screenshots/Downloads/

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Editor temp
*.tmp
*.bak
*~
assets/textures/*.jpg~